{:pom
 {:group-id "org.danielsz",
  :artifact-id "maarschalk",
  :version "0.1.4",
  :name "Maarschalk - a serialization library for Clojure"},
 :build-properties {:project-build-sourceEncoding "UTF-8"}
 :packaging
 {:uberjar
  {:enabled false,
   :main-class "main.core",
   :remote-repository
   {:id "ssh-repository",
    :url "scpexe://user@domain:/home/.m2/repository"}},
  :jar
  {:enabled true,
   :remote-repository
   {:id "clojars", :url "https://clojars.org/repo"}}},
 :cljs
 {:enabled false,
  :main-class "main.core",
  :compiler-opts "cljsc_opts.edn",
  :tools-deps-alias :cljs}}
